#makespace-bee{
	//display: block;
	//margin: 0 auto;
	//width: 3.5rem;
	
	.makespace-bee-body-outline,
	.wing-outline{
		fill:$green;
		transition: fill 0.3s;
	}
	
	&:hover{
	
		.makespace-bee-body-outline,
		.wing-outline{
			fill:$gray;
		}
	}
}