.site-footer {
	background: $black;
	clear: both;
	margin-top: 7rem;
	padding: 2.2rem 0;
	position: relative;
	z-index: 100;
}

.footer-top{
	background: $gray-lt;
	height: 44.2rem;
	overflow: hidden;
	
	@media(max-width:$tablet){
		height: auto;
	}
}

.footer-contact{
	float: left;
	height: 100%;
	position: relative;
	text-align: center;
	width: 42%;
	
	@media(max-width:$tablet){
		border-bottom: 2.2rem solid $black;
		height: auto;
		width: 100%;
	}
	
	.inner{
		position: absolute;
		top: 50%;
		right: 0;
		transform: translateY(-50%);
		width: 70%;
	
		@media(max-width:$tablet){
			padding: 5rem 0;
			margin: 0 auto;
			position: relative;
			top: 0;
			transform: translateY(0);
			width: 80%;
		}
	}
	
	.footer-top-logo{
		display: inline-block;
		margin-bottom: 3rem;
		width: 19.2rem;
			
		@media(max-width:$tablet){
			width: 16rem;
		}
	
		img{
			display: block;
			height: auto;
			width: 100%;
		}
	}
	
	p{
		margin: 0;
	}
	
	p.phone{
		font-family: $font-family-headline;
		font-size: 2.3rem;
		line-height: 1;
		margin-bottom: 1rem;
	}
	
	p.address{
		
	}
	
	.contact-link{
		color: $black;
		display: inline-block;
		font-size: 1.4rem;
		font-weight: 700;
		margin: 3rem 0 0 0;
		text-transform: uppercase;
		
		&:hover{
			color: $green;
			text-decoration: none;
		}
	
		&:before{
			background: url(images/triangle.png) no-repeat center center;
			background-size: auto 100%;
			content: "";
			display: block;
			height: 2.1rem;
			margin-bottom: 0.5rem;
			width: 100%;
		}
	}
}

.footer-map{
	background: $green;
	border-left: 2.2rem solid $black;
	float: left;
	height: 100%;
	overflow: hidden;
	position: relative;
	transform: skewX(-30deg);
	transform-origin: 0 100%;
	width: 58%;
	
	@media(max-width:$tablet){
		height: 30rem;
		transform: none;
		width: 100%;
	}

	/*&:before{
		background: rgba($green,0.5);
		content: "";
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		z-index: 2;
	}*/
	
	&:after{
		/*background: url(images/footer-angle.png) no-repeat 0 0;
		background-size: auto 100%;
		content: "";
		display: block;
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		z-index: 5;
	
		@media(max-width:$tablet){
			display: none;
		}*/
	}
	
	#gmap{
		height: 100%;
		width: 100%;
		transform: skewX(30deg);
		transform-origin: 0 100%;

		@media(max-width:$tablet){
			height: 30rem;
			transform: none;
		}
	}
}

.footer-bottom{
	color: $gray-lt;
	padding-top: 3.8rem;
	
	.container{
		align-items: center;
		display: flex;
		
		@media(max-width:$laptop){
			display: block;
			position: relative;
		}
	}
	
	.site-info{
		float: left;
		font-size: 1.2rem;
		
		@media(max-width:$laptop){
			margin-bottom: 3rem;
			width: 100%;
		}
		@media(max-width:$phablet){
			text-align: center;
		}
		
		p{
			margin: 0;
		}
		
		ul{
			list-style: none;
			margin: 0;
			padding: 0;
			white-space: nowrap;
		}
		
		li{
			display: inline-block;
			margin-right: 0.5rem;
		}
	}
	.footer-bottom-logo{
		display: block;
		margin-bottom: 1.5rem;
		width: 11.25rem;
		
		@media(max-width:$phablet){
			display: inline-block;
		}
		
		img{
			display: block;
			height: auto;
			width: 100%;
		}
	}
	
	.quote{
		float: left;
		font-size: 1.6rem;
		font-weight: 500;
		line-height: 1.3;
		padding: 0 8rem;
		
		@media(max-width:$laptop){
			padding: 0;
			width: 50%;
		}
		@media(max-width:$phablet){
			margin-bottom: 4rem;
			text-align: center;
			width: 100%;
		}
		
		p{
			margin: 0;
		}
		
		.author{
			line-height: 1;
			padding-right: 3rem;
			text-align: right;
	
			@media(max-width:$phablet){
				text-align: center;
			}
			
			img{
				display: inline-block;
				height: 3.5rem;
				width: auto;
			}
		}
	}
	
	.social{
		float: left;
		padding-right: 6rem;
		text-align: center;
		
		@media(max-width:$laptop){
			padding-right: 0;
			width: 45%;
		}
		@media(max-width:$phablet){
			margin-bottom: 3rem;
			width: 100%;
		}

		p{
			font-family: $font-family-headline;
			font-size: 2rem;
			line-height: 1;
			margin: 0 0 1rem 0;
			white-space: nowrap;
		}
		
		ul{
			font-size: 2.5rem;
			list-style: none;
			margin: 0;
			padding: 0;
			white-space: nowrap;
		}
		
		li{
			display: inline-block;
			margin: 0 1rem;
		
			@media(max-width:$tablet){
				margin: 0 2rem 0 0;
			}
			@media(max-width:$phablet){
				margin: 0 1rem;
			}
		}
		
		a{

			&:hover{
				color: #fff;
				text-decoration: none;
			}
		}
	}
	
	.makespace{
		float: right;
		
		@media(max-width:$laptop){
			width: 5%;
		}
		@media(max-width:$phablet){
			width: 100%;
		}
	}
	
	#makespace-bee{
		display: block;
		width: 2.3rem;
		
		@media(max-width:$laptop){
			float: right;
		}
		@media(max-width:$phablet){
			float: none;
			margin: 0 auto;
		}

		.makespace-bee-body-outline,
		.wing-outline{
			fill:$green;
			transition: fill 0.3s;
		}
		
		.wing-fill{
			fill: rgba(#fff, 0.2);
		}

		&:hover{

			.makespace-bee-body-outline,
			.wing-outline{
				//fill:$gray;
			}
		}
	}
}