body{
	font-size: 1.6rem;
	line-height: 1.375;
	
	&.nav-open{
		overflow: hidden;
	}
}

h1{
	font-size: 2.3rem;
	line-height: 1;
	margin: 0 0 2.5rem 0;
	text-align: center;
	
	&:before{
		background: url(images/triangle.png) no-repeat center center;
		background-size: auto 100%;
		content: "";
		display: block;
		height: 2.1rem;
		margin-bottom: 0.5rem;
		width: 100%;
	}
}

h2{
	font-size: 2rem;
	line-height: 1;
	margin: 1.5em 0 0.2em 0;
}

h3{
	font-size: 1.7rem;
	line-height: 1;
	margin: 1.5em 0 0.2em 0;
}

p{
	margin: 0 0 2rem 0;
}

a{
	color: $green;
	text-decoration: none;
	transition: color 0.3s;
	
	&:hover{
		text-decoration: underline;
	}
}

article.hentry{
	a{
		font-weight: 400;
	}
	ul,
	ol{
		li{
			margin-top: 1rem;
			margin-bottom: 1rem;
		}
	}
}

.container{
	
}

.wide-container{
	@include grid-column(20 of 24);
	@include grid-shift(2);
	
	@media(max-width:$tablet){
		@include grid-column(22 of 24);
		@include grid-shift(1);
	}
	
	@media(max-width:$phablet){
		@include grid-column(24 of 24);
		@include grid-shift(0);
	}
}

.inner-container{
	@include grid-column(14 of 24);
	@include grid-shift(5);
	padding-top: 4.5rem;
	
	@media(max-width:$laptop){
		@include grid-column(16 of 24);
		@include grid-shift(4);
	}
	
	@media(max-width:$tablet){
		@include grid-column(20 of 24);
		@include grid-shift(2);
	}
	
	@media(max-width:$phablet){
		@include grid-column(22 of 24);
		@include grid-shift(1);
	}
}

.button{
	background: none;
	color: $black;
	display: inline-block;
	font-size: 1.4rem;
	font-weight: 700;
	margin: 0;
	padding: 0;
	text-transform: uppercase;
	transition: color 0.3s;

	&:hover{
		color: $green;
		text-decoration: none;
	}

	&:before{
		background: url(images/triangle.png) no-repeat center center;
		background-size: auto 100%;
		content: "";
		display: block;
		height: 2.1rem;
		margin-bottom: 0.5rem;
		width: 100%;
	}
}

.address-details{
.address-piece-0{
	display: block;
	}
	.address-piece-1{
		&:after{
			content: ",";
		}
	}
	.address-piece-2{
	}
	.address-piece-link{
		display: block;
	}
}

.archive-pagination{
	clear: both;
	float: left;
	margin: 4rem 0 7.5rem 0;
	text-align: center;
	width: 100%;
	
	ul.page-numbers{
		background: $gray-lt;
		border-radius: 1.5rem;
		display: inline-block;
		font-size: 1.9rem;
		font-weight: 500;
		height: 3rem;
		line-height: 3rem;
		list-style: none;
		margin: 0;
		padding: 0;
		
		li{
			display: block;
			float: left;
		}
		
		.page-numbers{
			color: $green;
			display: block;
			height: 3rem;
			margin: 0 0.3rem;
			text-align: center;
			width: 3rem;
			
			&.prev{
				margin-left: 0;
				width: 4rem;
			}
			&.next{
				margin-right: 0;
				width: 4rem;
			}
			
			&:hover,
			&.current{
				color: $black;
				text-decoration: none;
			}
		}
	}
}