/*----------------------------------------------------------------------
  FONTS
----------------------------------------------------------------------*/

$font-family-base:     'Work Sans', sans-serif;
$font-weight-base:     300;
$font-family-headline: 'Cinzel', serif;
$font-weight-headline: 400;
$font-family-alt:      'Yanone Kaffeesatz', sans-serif;
$font-size-base:       10px;
$line-height-base:     1.5;


/*----------------------------------------------------------------------
  COLORS
----------------------------------------------------------------------*/
$black: #231f20;
$gray: #a2a5a4;
$gray-lt: #e9eaea;
$green: #75b94b;

$facebook-blue:    #3c5b9b;
$google-plus-red:  #f63d27;
$instagram-blue:   #517fa4;
$makespace-blue:   #7795b5;
$makespace-brown:  #483735;
$makespace-green:  #b2d78c;
$makespace-orange: #ff7059;
$makespace-red:    #ec453e;
$makespace-purple: #9677b1;
$pinterest-red:    #cb2027;
$twitter-blue:     #2daae1;
$youtube-red:      #e14e42;


/*----------------------------------------------------------------------
  FORMS
----------------------------------------------------------------------*/
$form-element-spacing: 1rem;
$input-border-color:   #ddd;
$input-border-radius:  0;
$input-border-width:   0;
$input-padding:        0.5rem;


/*----------------------------------------------------------------------
  CONTAINERS & GRID
----------------------------------------------------------------------*/
$gutter-width:        1.6rem;
$grid-columns:        24;
$container-max-width: 1280px;
$container-width:     92.75%;
$design-width:        1380px;
$visual-grid:         false;


/*----------------------------------------------------------------------
  BREAKPOINTS
----------------------------------------------------------------------*/
$phablet:  640px;
$tablet:   768px;
$laptop:   1024px;
$desktop:  1280px;
$fullsize: $design-width;


/*----------------------------------------------------------------------
  CALCULATIONS & STANDARDS
  You should not have to edit anything below this line. If so and you
  believe it's a problem with or enhancement to the framework, be sure
  to create an issue on Github:

  https://github.com/makespaceweb/makespace-child/issues

----------------------------------------------------------------------*/
$border-box-sizing:  true;
$fa-font-path:       'fonts';
$max-width:          #{$container-max-width/$font-size-base}rem;

$neat-grid: (
  columns: $grid-columns,
  gutter: $gutter-width
);