
.jobs-list-container{
	margin-top: 4rem;
	
	.jobs-list-header{
		@include grid-collapse;
	}

	.col-title{
		font-family: $font-family-alt;
		font-weight: 400;
		line-height: 1;
		text-transform: uppercase;
		
		&:nth-child(1){
			@include grid-column(3 of 20);
			text-align: center;
		}
		&:nth-child(2){
			@include grid-column(6 of 20);
		}
		&:nth-child(3){
			@include grid-column(11 of 20);
		}
	}
}

.jobs-list{
	clear: both;
	float: left;
	list-style: none;
	margin: 1.8rem 0 0 0;
	padding: 0;
	width: 100%;
	
	li{
		background: #f7f7f7;
		display: none;
		margin-bottom: 0.5rem;
		overflow: hidden;
		
		//&:nth-child(2n),
		&.bg{
			background: #fcfcfc;
		}
		
		&.vis{
			display: block;
		}
	}
	
	.inner{
		@include grid-collapse;
		
		&.expand{
			
			.description{

				.excerpt{
					opacity: 0;
					z-index: 0;
				}

				.full-content{
					max-height: 200rem;
					opacity: 1;
					z-index: 3;
				
					@media (max-width:$phablet){
						max-height: 300rem;
					}
				}
			}
		
			.toggle{

				.toggle-button{
					&:before{
						opacity: 0;
					}
					&:after{
						opacity: 1;
					}
				}
			}
		}
	}
	
	.service{
		@include grid-column(3 of 20);
		height: 10rem;
		//padding: 2rem 0;
		position: relative;
		
		@media (max-width:$desktop){
			height: 13rem;
		}
		
		@media (max-width:$tablet){
			@include grid-column(5 of 20);
			height: 11rem;
		}
		
		img{
			display: block;
			height: 4.6rem;
			margin: auto;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			width: auto;
		
			@media (max-width:$laptop){
				height: auto;
				width: 70%;
			}
			@media (max-width:$tablet){
				width: 50%;	
			}
			@media (max-width:$phablet){
				left: auto;
				width: 70%;
			}
		}
	}
	.title{
		@include grid-column(6 of 20);
		height: 10rem;
		//padding: 3rem 0;
		position: relative;
		
		@media (max-width:$desktop){
			height: 13rem;
		}
		@media (max-width:$laptop){
			@include grid-column(8 of 20);
		}
		@media (max-width:$tablet){
			@include grid-column(15 of 20);
			height: 11rem;
		}
		
		h2{
			font-size: 2.3rem;
			margin: auto 0;
			position: absolute;
			top: 50%;
			right: 0;
			left: 0;
			-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			-o-transform: translateY(-50%);
			transform: translateY(-50%);
		
			@media (max-width:$tablet){
				font-size: 2rem;
				right: 1.6rem;
			}
		}
	}
	.description{
		@include grid-column(9 of 20);
		//padding: 2rem 0;
		position: relative;
		
		@media (max-width:$laptop){
			@include grid-column(7 of 20);
		}
		@media (max-width:$tablet){
			@include grid-column(15 of 20);
			clear: left;
		}
		@media (max-width:$phablet){
			@include grid-column(20 of 20);
		}
		
		.excerpt{
			opacity: 1;
			position: absolute;
			top: 50%;
			right: 0;
			left: 0;
			-webkit-transform: translateY(-50%);
			-ms-transform: translateY(-50%);
			-o-transform: translateY(-50%);
			transform: translateY(-50%);
			transition: opacity 0.5s;
			z-index: 3;
		
			@media (max-width:$tablet){
				left: 2rem;
			}
			@media (max-width:$phablet){
				top: 0;
				-webkit-transform: none;
				-ms-transform: none;
				-o-transform: none;
				transform: none;
			}
			
			p{
				margin: 0;
			}
		}
		
		.full-content{
			max-height: 10rem;
			opacity: 0;
			padding: 2.8rem 0;
			position: relative;
			transition: all 0.5s;
			z-index: 0;
		
			@media (max-width:$desktop){
				max-height: 13rem;
			}
			@media (max-width:$tablet){
				max-height: 5rem;
				padding: 0 0 2rem 2rem;
			}
			@media (max-width:$phablet){
				padding-right: 2rem;
				max-height: 7rem;
			}
		}
	}
	.toggle{
		@include grid-column(2 of 20);
		height: 10rem;
		position: relative;
		
		@media (max-width:$desktop){
			height: 13rem;
		}
		@media (max-width:$tablet){
			@include grid-column(5 of 20);
			height: 7rem;
		}
		@media (max-width:$phablet){
			@include grid-column(20 of 20);
			height: 6rem;
		}
		
		.toggle-button{
			cursor: pointer;
			height: 2.5rem;
			margin: auto;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			text-align: center;
			width: 2.5rem;
			
			&:before,
			&:after{
				color: $green;
				display: block;
				font-family: FontAwesome;
				font-size: 2.5rem;
				line-height: 2.5rem;
				position: absolute;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0;
				transition: opacity 0.3s;
			}
			
			&:before{
				content: "\f067";
				opacity: 1;
			}
			&:after{
				content: "\f068";
				opacity: 0;
			}
		}
	}
}

#application-form{
	display: none;
	width: 100%;
}

.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content{
	margin: 0 auto;
	width: 60%;
	
	@media (max-width:$laptop){
		width: 70%;
	}
	@media (max-width:$tablet){
		width: 80%;
	}
	
	#application-form{
		@include clearfix;
		display: block;
		padding: 2rem 0;
		
		h2{
			color: #fff;
			font-size: 2.3rem;
		}
		
		label{
			color: #fff;
		}
		.gfield.address{
			width: 100%;
		}
		.gfield.city,
		.gfield.state,
		.gfield.country{
			width: 33%;
		}
		.gfield.city{
		
			@media (max-width:$tablet){
				width: 100%;
			}
			
		}
		.gfield.state,
		.gfield.country{
			@media (max-width:$tablet){
				width: 50%;
			}
			@media (max-width:$phablet){
				width: 100%;
			}
		}
		
		button,
		input[type="button"],
		input[type="submit"],
		.button{
			color: #fff;
		}
	}
}